## Helen Gaskell

## Capstone Project:  
### Analysing a dataset of H&M transactions to make personalised recommendations for customers

### Notebook 1: Loading and Cleaning Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import statsmodels.api as sm
from scipy import stats
from scipy.stats import norm

H&M Group is a family of brands and businesses with 53 online markets and approximately 4,850 stores. The online store offers shoppers an extensive selection of products to browse through. But with too many choices, customers might not quickly find what interests them or what they are looking for, and ultimately, they might not make a purchase. To enhance the shopping experience, product recommendations are key. More importantly, helping customers make the right choices also has a positive implications for sustainability, as it reduces returns, and thereby minimizes emissions from transportation.

The data sets contain transactions from both online and in store. We need to bear in mind that the pandemic started around March 2019 which will significantly effect the number of transactions which were bought in store as many stores had to temporarily close down


Starting with 3 tables:

- Transactions: details of each purchase
- Customers: details of every customer
- Articles: details of each product

Transactions Dataset: https://drive.google.com/file/d/1So5F6WkQvdZza3zaT1YeLBnAZZprNCqO/view?usp=share_link

Customers Dataset: https://drive.google.com/file/d/1Maf3J1WGfRyHJDa6jzQ9XBZXVH47qyuz/view?usp=share_link

Articles Dataset: https://drive.google.com/file/d/10j5jPppv8miBI_xvD1ZXz9EgaPmjW5ms/view?usp=share_link

## 1. Transaction data

### Loading Data

In [4]:
# load the data
rawtransaction = pd.read_csv('../src/data/transactions_train.csv.zip')

In [5]:
rawtransaction.shape

(31788324, 5)

Transaction table is 31 million rows by 5 columns

In [6]:
rawtransaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [7]:
# Checking for null values 
rawtransaction.isna().sum()

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

There are no null cell values

In [8]:
# having a look at the table layout 
rawtransaction

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

### Creating a sample data set

In [11]:
#using a sample of dataset to perform initial cleaning and EDA, which can then be implemented on main dataset
transactionsample = rawtransaction.sample(frac=0.01)

In [12]:
transactionsample.shape

(317883, 5)

Sample data set has 300,000 rows

In [13]:
# quick view of dataframe
transactionsample.head()

,t_dat,customer_id,article_id,price,sales_channel_id
20970547,2020-01-05,6881f635c5be0550646522a81a07d942ee71fcf603397d...,735622003,0.037271,2
22088558,2020-02-06,dea80c33dba2ad05511052e042e446466e7c20a524fe51...,806071001,0.084729,2
19962633,2019-12-08,dfe7bf62e4bedaccc92346586e427fd2eb3d6b2c8d90d5...,781688003,0.076254,2
31448321,2020-09-12,e5774d749808f6c828ace801c925706026ef9b7426a575...,904017001,0.067780,2
23614172,2020-03-22,5480047400bdaaf4a23842785fdda0f4ff53a47b59ee01...,834431001,0.031881,2

### Transaction Data Dictionary

- t_dat - transaction date (object, should change into datetime format) 

- customer_id - unique customer id (string of letters and numbers)

- article_id - unique article id (9 number integer)

- price - price of transaction (float)

- sales_channel_id - 1 is purchase in store, 2 is purchase online

In [14]:
# looking at date range of the data set 
first_day = transactionsample['t_dat'].min()
last_day = transactionsample['t_dat'].max()

In [15]:
first_day

'2018-09-20'

In [16]:
last_day

'2020-09-22'

Data ranges from September 2018 to September 2020

In [17]:
# checking datatypes
transactionsample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317883 entries, 20970547 to 8804914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   t_dat             317883 non-null  object
 1   customer_id       317883 non-null  object
 2   article_id        317883 non-null  int64
 3   price             317883 non-null  float64
 4   sales_channel_id  317883 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 14.6+ MB

### Converting t_dat into Datetime datatype

In [18]:
# converting date column into datetime format
transactionsample["t_dat"] = transactionsample["t_dat"].astype("datetime64")

In [19]:
# checking it's been converted
transactionsample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317883 entries, 20970547 to 8804914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   t_dat             317883 non-null  datetime64[ns]
 1   customer_id       317883 non-null  object
 2   article_id        317883 non-null  int64
 3   price             317883 non-null  float64
 4   sales_channel_id  317883 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 14.6+ MB

In [22]:
rawtransaction['price'].describe()

count    3.178832e+07
mean     2.782927e-02
std      1.918113e-02
min      1.694915e-05
25%      1.581356e-02
50%      2.540678e-02
75%      3.388136e-02
max      5.915254e-01
Name: price, dtype: float64

Price is in float format and ranges from 0.000 to 0.59. H&M have hidden the actual prices so there is no currency/unit, they have likely scaled the values. I will look into this further in the EDA notebook. The max price is quite a lot higher than the mean which could suggest that there are outliers.

In [19]:
# Checking unique values in sales_channel_id
transactionsample['sales_channel_id'].unique()

array([2, 1])

Sales Channel id consists of values 2 and 1, 2 is online, 1 is in-store

In [20]:
# Checking for duplicates 
rawtransaction.duplicated().sum()

2974905

3 million duplicates in original dataset. This is a lot of duplicates therefore I will need to make sure they are intentional and won't skew the results when I reach the modeling stage

In [23]:
# investigating the duplicates further to compare the duplicates against each other
rawtransaction.loc[rawtransaction.duplicated() , :]

,t_dat,customer_id,article_id,price,sales_channel_id
15,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,0.016932,2
18,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,671505001,0.033881,2
20,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
21,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
22,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
...,...,...,...,...,...
31788268,2020-09-22,ff54fe15368409b7d0d691cdeebe2d6a3fee5178105277...,885315003,0.050102,2
31788269,2020-09-22,ff54fe15368409b7d0d691cdeebe2d6a3fee5178105277...,885315003,0.050102,2
31788282,2020-09-22,ff6f55a51af284b71dcd264396b299e548f968c1769e71...,919786002,0.042356,2
31788292,2020-09-22,ff94f31e864d9b655643ac4d2adab3611c7241adb5d34c...,901666001,0.084729,2
31788312,2020-09-22,ffd4cf2217de4a0a3f9f610cdec334c803692a18af08ac...,791587021,0.025407,2

In [24]:
# selecting a particular customer id to compare the duplicated rows for that customer
rawtransaction[
    rawtransaction['customer_id'] == "000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8"]

,t_dat,customer_id,article_id,price,sales_channel_id
14,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,0.016932,2
15,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,0.016932,2
16,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,674681001,0.008458,2
17,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,671505001,0.033881,2
18,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,671505001,0.033881,2
19,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
20,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
21,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
22,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
23,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,680187001,0.016932,2
24,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,676827002,0.042356,2
25,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,676827002,0.042356,2
26,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,685687002,0.016932,2
27,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,685687002,0.016932,2
28,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,680912006,0.016932,2
29,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,680912006,0.016932,2
30,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,692454002,0.025407,2
31,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,692454002,0.025407,2
32,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,640639001,0.010153,2
33,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,640639001,0.010153,2
34,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,664421002,0.016932,2
35,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,664421002,0.016932,2
36,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,680912009,0.011847,2
37,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,680912009,0.011847,2
38,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,553139001,0.033881,2
39,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,553139001,0.033881,2
40,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,377277001,0.008458,2
41,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,377277001,0.008458,2
42,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,700819006,0.042356,2
43,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,700819006,0.042356,2
11725989,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758049001,0.030492,2
11725990,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758049001,0.030492,2
11725991,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758049001,0.030492,2
11725992,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758060001,0.025407,2
11725993,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758064001,0.033881,2
11725994,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758064001,0.033881,2
11725995,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758064001,0.033881,2
11725996,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,713349001,0.030492,2
11725997,2019-06-13,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,758050001,0.025407,2
15033361,2019-08-05,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,607983004,0.022864,2
15033362,2019-08-05,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,663498003,0.030492,2
15033363,2019-08-05,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,377277001,0.007610,2
15522440,2019-08-16,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,589017001,0.039576,2
15522441,2019-08-16,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,733044001,0.028492,2
15522442,2019-08-16,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,743049002,0.028492,2
17586658,2019-10-06,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,693497001,0.030492,2
17586659,2019-10-06,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,693497001,0.030492,2
24673319,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,728162001,0.008458,2
24673320,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,748355006,0.022017,2
24673321,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,706016002,0.033881,2
24673322,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,706016001,0.033881,2
24673323,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,706016003,0.033881,2
24673324,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,796210001,0.025407,2
24673325,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,868164002,0.025407,2
24673326,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,717490002,0.008458,2
24673327,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,851996001,0.067780,2
24673328,2020-04-15,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,903309001,0.025407,2

In [24]:
transactionduplicates = rawtransaction.loc[rawtransaction.duplicated() , :]

In [25]:
transactionduplicates.groupby(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id']).count()

Empty DataFrame
Columns: []
Index: [(2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 377277001, 0.008457627118644, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 501820043, 0.0169322033898305, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 553139001, 0.0338813559322033, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 631848002, 0.0338813559322033, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 640639001, 0.0101525423728813, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 664421002, 0.0169322033898305, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 671505001, 0.0338813559322033, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 676827002, 0.0423559322033898, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 680912006, 0.0169322033898305, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 680912009, 0.0118474576271186, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 685687002, 0.0169322033898305, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 692454002, 0.0254067796610169, 2), (2018-09-20, 000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8, 700819006, 0.0423559322033898, 2), (2018-09-20, 002b3c0a44a22c45a8d62ea9d2b88d1a89e335f8b8400335a85c3b5845794cb9, 464277014, 0.0220169491525423, 2), (2018-09-20, 0045c79125b4dc958579f902b49eacd8598f9eeaa1220506d1cae1275f122084, 211143037, 0.0338813559322033, 2), (2018-09-20, 0045c79125b4dc958579f902b49eacd8598f9eeaa1220506d1cae1275f122084, 503729006, 0.0423559322033898, 2), (2018-09-20, 00ead79936275fbd3c9cf7863d2eb1b11e553789c48149fec39eb4086cb64642, 678086003, 0.0254067796610169, 2), (2018-09-20, 012bbedf2efe728a7407a5dc842a852f8e09e9ae9727110c916ae13ebbc86395, 651456003, 0.0169322033898305, 1), (2018-09-20, 0132d21d866697c428e4d6ffb02548fd71966aa88c8f5adea314e2341f8ad87b, 608939002, 0.0406610169491525, 2), (2018-09-20, 014cbfc591254f0cf30df52b660f94dead60c8d3eafc00ebb3051bd196bdcd8e, 399136061, 0.0508305084745762, 2), (2018-09-20, 019169333a46eafc04a2a49f04076aeb5bc7f33c403e8940e39048a9581ce753, 632020002, 0.0135423728813559, 2), (2018-09-20, 01a9a077a83eacc6fd946a60c4ca2aed16219fcd83d31e3110fa04630c42b96d, 574120001, 0.0271016949152542, 2), (2018-09-20, 01a9a077a83eacc6fd946a60c4ca2aed16219fcd83d31e3110fa04630c42b96d, 578816004, 0.0304915254237288, 2), (2018-09-20, 01bf0506fe8bb4b830a2b0a4459f11565f6b687c615008cdcd59b3abf6df4bd2, 573716039, 0.0254067796610169, 2), (2018-09-20, 01bf0506fe8bb4b830a2b0a4459f11565f6b687c615008cdcd59b3abf6df4bd2, 680374001, 0.0338813559322033, 2), (2018-09-20, 01bf0506fe8bb4b830a2b0a4459f11565f6b687c615008cdcd59b3abf6df4bd2, 690478001, 0.0338813559322033, 2), (2018-09-20, 01d106a0b45ae7f169b3233d332bf325c80c24d4d160edeccf7d70905077fb86, 573085020, 0.0327457627118644, 2), (2018-09-20, 01d106a0b45ae7f169b3233d332bf325c80c24d4d160edeccf7d70905077fb86, 632143001, 0.0327457627118644, 2), (2018-09-20, 01d106a0b45ae7f169b3233d332bf325c80c24d4d160edeccf7d70905077fb86, 677848003, 0.0081694915254237, 2), (2018-09-20, 01ef5256e6264e9d50b11a08e9cfb2f2291324fedb4140cf7b4ad070548ffd8f, 660497003, 0.008457627118644, 2), (2018-09-20, 01ef5256e6264e9d50b11a08e9cfb2f2291324fedb4140cf7b4ad070548ffd8f, 661308001, 0.0152372881355932, 2), (2018-09-20, 01f0af0b062a155ce270aa4cd7420795b115dd9320c143eaa10213f13ba346be, 728162002, 0.008457627118644, 1), (2018-09-20, 01f597f5eba83f9709eceb5a70a99f3a4009a6e827bf7293afa4211030a29fa4, 456163026, 0.0338813559322033, 2), (2018-09-20, 01f597f5eba83f9709eceb5a70a99f3a4009a6e827bf7293afa4211030a29fa4, 625773001, 0.0593050847457627, 2), (2018-09-20, 01f597f5eba83f9709eceb5a70a99f3a4009a6e827bf7293afa4211030a29fa4, 674336001, 0.0338813559322033, 2), (2018-09-20, 01f597f5eba83f9709eceb5a70a99f3a4009a6e827bf7293afa4211030a29fa4, 676954001, 0.0508305084745762, 2), (2018-09-20, 0218014619321c250395c5cb9bc9f5323745113f61f3a136da2f3762df5930c9, 675281001, 0.0254067796610169, 2), (2018-09-20, 022d28daa94930566e6139ae25faa966bebd5684cc486c59588d7e9b92262c50, 622192001, 0.0254067796610169, 2), (2018-09-20, 022d28daa94930566e6139ae25faa966bebd5684cc486c59588d7e9b92262c50, 622192002, 0.0287966101694915, 2), (2018-09-20, 022d28daa94930566e6139ae25faa966bebd5684cc486c59588d7e9b92262c50, 658295002, 0.0406610169491525, 2), (2018-09-20, 023807eac529e635ef40b48d61685876c7487d129eb2384e3c335d8f66116874, 524825006, 0.0237118644067796, 2), (2018-09-20, 023b48de81f6af9de6bef17e720e3873ce40df3f561c975cfd47eaef5f13d09d, 351484013, 0.0135423728813559, 2), (2018-09-20, 0247a4cfbe56ac5e1c0b5a91b0ab0aad812f6fca13d4fd7dd72cf870d4195ec0, 659124001, 0.0050677966101694, 1), (2018-09-20, 02587f4f566315388f44a3daaa4525146d79d5ae6b2837cbf55591ec1512884d, 677664001, 0.1016779661016949, 2), (2018-09-20, 025b18696068392821f083b1eebb31dee1f6704f243f909c025dfacd075bdaf2, 156231001, 0.0056440677966101, 1), (2018-09-20, 0277917f4faac280023baecd03c3790b951a9403085da13631983b6c3d7eced0, 633130002, 0.0169322033898305, 2), (2018-09-20, 029ceb992cb63df03c109790046e3fdebfce0b63c968823dd461b7f18ecc6b30, 506110001, 0.0250847457627118, 2), (2018-09-20, 029ceb992cb63df03c109790046e3fdebfce0b63c968823dd461b7f18ecc6b30, 543729003, 0.0501864406779661, 2), (2018-09-20, 029ceb992cb63df03c109790046e3fdebfce0b63c968823dd461b7f18ecc6b30, 637255001, 0.0250847457627118, 2), (2018-09-20, 029ceb992cb63df03c109790046e3fdebfce0b63c968823dd461b7f18ecc6b30, 656719005, 0.0501864406779661, 2), (2018-09-20, 029ceb992cb63df03c109790046e3fdebfce0b63c968823dd461b7f18ecc6b30, 660618001, 0.0167118644067796, 2), (2018-09-20, 029ceb992cb63df03c109790046e3fdebfce0b63c968823dd461b7f18ecc6b30, 692454002, 0.0250847457627118, 2), (2018-09-20, 02cca9fa806e222df1332afe49102f67cc35970a39471d4737c770e94e5dc492, 684890003, 0.0254067796610169, 1), (2018-09-20, 02d796ea767fa2e94fc6228fe70d8af1a570da973c32f7ddbe7ac747ce4a6666, 372576011, 0.0501694915254237, 2), (2018-09-20, 02d796ea767fa2e94fc6228fe70d8af1a570da973c32f7ddbe7ac747ce4a6666, 393447015, 0.0669152542372881, 2), (2018-09-20, 02d796ea767fa2e94fc6228fe70d8af1a570da973c32f7ddbe7ac747ce4a6666, 552471001, 0.0167118644067796, 2), (2018-09-20, 02d796ea767fa2e94fc6228fe70d8af1a570da973c32f7ddbe7ac747ce4a6666, 575141001, 0.021728813559322, 2), (2018-09-20, 02d796ea767fa2e94fc6228fe70d8af1a570da973c32f7ddbe7ac747ce4a6666, 634037002, 0.0418135593220338, 2), (2018-09-20, 02eeb7d86c6d8dd801708091ed48bd654940c403ef12cfc10e4abc5eef90866a, 638553001, 0.0406610169491525, 2), (2018-09-20, 03126e45c08e82cd192b32cbddbeba63387e11e5531059d1e75b74a422f373b1, 378124009, 0.0677796610169491, 2), (2018-09-20, 031b1633a7b3df1b5c63487b254981b5dd3606d8d643e99345221577cf581fee, 625939013, 0.008457627118644, 1), (2018-09-20, 03392e608ea301ba185fbc96db65586ac9b7cddb17314ac38dea3f47a66ad448, 622295001, 0.0355762711864406, 2), (2018-09-20, 03688ec91eaf4d8569ec00a450567f829e122b7a368ce6acc390c4685542d5ca, 567475004, 0.020322033898305, 2), (2018-09-20, 03ff2c14c56358cfa899443fb55163bcac3cf67c2b5723d4628ba72b846f5f64, 597510001, 0.0677796610169491, 2), (2018-09-20, 03ff2c14c56358cfa899443fb55163bcac3cf67c2b5723d4628ba72b846f5f64, 665831002, 0.084728813559322, 2), (2018-09-20, 041b31a7f12c6ccde9c1f2d9e8fd5cb960cdddffe289b443bb4326a47e506a51, 651912002, 0.0101525423728813, 2), (2018-09-20, 042737c01c7d42acb84b5fdc26779883a694fb8ec782aa0119e6cef404930f8a, 583534009, 0.0169322033898305, 2), (2018-09-20, 045c56f8b4fe091482792a6c8211dd32a31d10a4463abcfaf8d0aac167eff58b, 685687004, 0.0169322033898305, 2), (2018-09-20, 048253dbbc77680407dd3978e530d50d417f89d2393a77da5179b79b127b629a, 678079002, 0.0101525423728813, 1), (2018-09-20, 04a182e9bc4d4e0c54cf6fc8d4ba9a0e2186de746c8326c76fce5029a19bfbc2, 556379003, 0.0271016949152542, 2), (2018-09-20, 04c59dcc2794b24848199096a6af850e2c0289dad229f7674d29070364d7b19c, 654434002, 0.0086271186440677, 1), (2018-09-20, 04c59dcc2794b24848199096a6af850e2c0289dad229f7674d29070364d7b19c, 664075005, 0.0115084745762711, 1), (2018-09-20, 04c73e4d85b62091a140665b6d38d4bb2cbe2c87863bb624267709cc4240027d, 555347001, 0.0426949152542372, 2), (2018-09-20, 04db9585ba4e6c6bd7ab2f633736fc68035ff1001fedc075d7f22baf62c44098, 399136027, 0.061, 2), (2018-09-20, 04db9585ba4e6c6bd7ab2f633736fc68035ff1001fedc075d7f22baf62c44098, 399201005, 0.0533728813559322, 2), (2018-09-20, 04db9585ba4e6c6bd7ab2f633736fc68035ff1001fedc075d7f22baf62c44098, 399201024, 0.0533728813559322, 2), (2018-09-20, 05177323caf4471a99441c6dc6a23f7ca314913e8cda96bf9b90ef80757e4053, 666656001, 0.0508305084745762, 2), (2018-09-20, 05303bc82456654fc660a726992ea85ea3609d89588ce09e7266bd785e1d9536, 644783001, 0.0304915254237288, 2), (2018-09-20, 053f62a4e3a51d19a6156595d98930ca666e64ec01792e889618172fe4f2f5c5, 562245018, 0.020322033898305, 2), (2018-09-20, 053f62a4e3a51d19a6156595d98930ca666e64ec01792e889618172fe4f2f5c5, 656719005, 0.0508305084745762, 2), (2018-09-20, 053f62a4e3a51d19a6156595d98930ca666e64ec01792e889618172fe4f2f5c5, 665294004, 0.0338813559322033, 2), (2018-09-20, 05943a58bd172641b80919a9bdf14012df940800bc74d0707abdd38efc1dd4f1, 661794001, 0.1525254237288135, 2), (2018-09-20, 05943a58bd172641b80919a9bdf14012df940800bc74d0707abdd38efc1dd4f1, 661794002, 0.1525254237288135, 2), (2018-09-20, 05ed96931b707698bc94aa53766d44686ae5ccbbc99dfbda8694ae811c54f28f, 108775015, 0.008457627118644, 1), (2018-09-20, 05ed96931b707698bc94aa53766d44686ae5ccbbc99dfbda8694ae811c54f28f, 538699007, 0.008457627118644, 1), (2018-09-20, 05f35811e2c938b8d3a68e0d1ac0e645495a1fcd080df56168bf978da998120c, 567657006, 0.0304915254237288, 2), (2018-09-20, 05f35811e2c938b8d3a68e0d1ac0e645495a1fcd080df56168bf978da998120c, 626441007, 0.0304915254237288, 2), (2018-09-20, 05f86f4705e1fe94cc0fed558f895c3f2d445f442d2be85bcf6e78a338d2120e, 524825010, 0.0423559322033898, 2), (2018-09-20, 05f86f4705e1fe94cc0fed558f895c3f2d445f442d2be85bcf6e78a338d2120e, 591334003, 0.0169322033898305, 2), (2018-09-20, 060d78b341030443d77fec31f6f6f8f13e90e5afeea364c11c502512e11c5976, 529008026, 0.0254067796610169, 2), (2018-09-20, 060d78b341030443d77fec31f6f6f8f13e90e5afeea364c11c502512e11c5976, 628788003, 0.0254067796610169, 2), (2018-09-20, 060d78b341030443d77fec31f6f6f8f13e90e5afeea364c11c502512e11c5976, 630514003, 0.0254067796610169, 2), (2018-09-20, 060d78b341030443d77fec31f6f6f8f13e90e5afeea364c11c502512e11c5976, 642223001, 0.0304915254237288, 2), (2018-09-20, 063b18b8887447b6bf21b56496069f014f81cfbe281b55dcaf54d1bdd089332b, 661435002, 0.0762542372881355, 2), (2018-09-20, 06636eaa476a2f3417e8d11905e17a8066b4c9ae26bc785eb8a55e0b8ba29d9e, 399201005, 0.0593050847457627, 2), (2018-09-20, 06636eaa476a2f3417e8d11905e17a8066b4c9ae26bc785eb8a55e0b8ba29d9e, 399201022, 0.0593050847457627, 2), (2018-09-20, 0667219847ad2c164e5a8939746cc57c3ac86a747a57522f63e1f9ae8f06c4c5, 630450002, 0.0304915254237288, 2), (2018-09-20, 06756e39fcf7b51b98cd087e765de8e501c8c19f36993352143e9376fe965c7a, 659521001, 0.0423559322033898, 2), (2018-09-20, 068478b2db4117236accc0e54a28ac16da45e675958637e07aee82c6a45deef9, 591334003, 0.0169322033898305, 1), (2018-09-20, 06884807549bd7463a0f21e97beacbd0bd28c01dfde80d5baa154498b0e46b2f, 613497006, 0.0338813559322033, 2), ...]

[2543908 rows x 0 columns]

It's likely that the duplicates correspond to customers purchasing more than one of the same product. Within the datasets there are no columns which specify the size of an item. It's likely that items have the same article id per size of that item. This would explain the large amount of duplicates. It may also just show the items that customers buy more than one of, which will be useful when considering a baseline model of recommending repeated purchases to customers. It's a good indicator of types of products that customers buy more than one of.

In [31]:
# saving the duplicate table to a new variable dup_df
dup_df = rawtransaction[rawtransaction.duplicated()]
dup_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
15,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,0.016932,2
18,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,671505001,0.033881,2
20,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
21,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2
22,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,631848002,0.033881,2

In [27]:
# further investigation of duplicate at idx 15
idx = 15
rawtransaction[(rawtransaction.t_dat == dup_df.loc[idx].t_dat) & 
                (rawtransaction.customer_id == dup_df.loc[idx].customer_id) & 
                (rawtransaction.article_id == dup_df.loc[idx].article_id) & 
                (rawtransaction.price == dup_df.loc[idx].price) & 
                (rawtransaction.sales_channel_id == dup_df.loc[idx].sales_channel_id)
               ]

,t_dat,customer_id,article_id,price,sales_channel_id
14,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,0.016932,2
15,2018-09-20,000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...,501820043,0.016932,2

Now I will create a new table called cleantransaction which groups the article id per customer to signify how many times they bought each product. This column will be useful when modeling

In [30]:
cleantransaction = rawtransaction.groupby(rawtransaction.columns.tolist()).size().reset_index().rename(columns={0:'article_purchase_count'})
cleantransaction.sample(10)

,t_dat,customer_id,article_id,price,sales_channel_id,article_purchase_count
12959302,2019-07-23,9f233b838cd7274c8876e7a4143de2352d839f2179aa82...,767687001,0.030492,2,1
8024675,2019-04-17,669e4bc123674f7a1788e6229add13f9db946d7b9b75dd...,733749001,0.005068,1,1
5409129,2019-02-08,657b2538b535d75a89e18cbfe89a09e2ed65eaf20a336a...,663516001,0.067780,2,1
12067144,2019-07-05,5ab52f682bcbbcee573bfdeb8a902b17878f60ce9b9347...,746170001,0.015000,1,1
26302469,2020-07-15,62c6078330fad184ff626f82d09a45e7ea2189c90a8344...,841383003,0.008458,2,1
12521700,2019-07-14,b9bb8e69b3c4a1d9b429c644b48c403d9ff8af5cdb8b00...,720861001,0.046458,2,1
6093349,2019-02-26,acf2fdb32caf924fa5b7695809eed78ef77a3da2ab7952...,370594017,0.013136,2,1
3794769,2018-12-24,c57de756989c61f9aec47c3a4a832bbc25dff314e4e2c1...,610822021,0.006763,2,1
9583753,2019-05-22,3e94c4e71dbe14cbabf5357e1f0924f9f2becb0588783a...,723347001,0.025407,2,2
15577761,2019-09-28,bd6210120b74000c77e4ffd8fe1e55f7edd5c7e1684010...,777143001,0.040661,2,1

In [32]:
# sanity check that new column has different values
cleantransaction['article_purchase_count'].nunique()

75

In [30]:
cleantransaction["t_dat"] = cleantransaction["t_dat"].astype("datetime64")

In [38]:
cleantransaction.groupby('customer_id')['article_purchase_count'].sum()/cleantransaction['customer_id'].nunique()

customer_id
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657    1.541532e-05
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa    6.312941e-05
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318    1.321313e-05
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e    1.468126e-06
00006413d8573cd20ed7128e53b7b13819fe5cfc2d801fe7fc0f26dd8d65a85a    9.542818e-06
                                                                        ...
ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e4747568cac33e8c541831    3.743721e-05
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7    6.166129e-05
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264    3.303283e-05
ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38b2236865d949d4df6a    5.138441e-06
ffffd9ac14e89946416d80e791d064701994755c3ab686a1eaf3458c36f52241    7.340629e-07
Name: article_purchase_count, Length: 1362281, dtype: float64

There are 1,362,281 different customers

In [32]:
cleantransaction.head()

,t_dat,customer_id,article_id,price,sales_channel_id,article_purchase_count
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,1
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,1
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221001,0.020322,2,1
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,1
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,0.016932,2,1

In [33]:
cleantransaction['article_id'].nunique()

104547

104,000 different articles purchased in the 2 year period

### 2. Customer Data

In [39]:
# Load the customer data
rawcustomer = pd.read_csv('../src/data/customers.csv.zip')

In [40]:
rawcustomer.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [42]:
# checking for null values in customer table 
rawcustomer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

In [41]:
rawcustomer.tail()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

### Data Dictionary

- customer_id - Unique identifier of every customer (same column as in transactions table)
- FN - If customer gets a fashion newsletter (1 or Nan)
- Active - If customer is active for communication (1 or Nan)
- club_member_status - member or non-member (active, Nan, pre-create or left club)
- fashion_news_frequency - How often H&M send news to the customer (none, regularly, Nan, Monthly or None)
- age - Current age of customer
- Postal_code - Current postcode of customer (actual postcodes are hidden)

Actual location details of postal code have been hidden therefore the only thing we can deduce from this column is if different transactions have been made from exactly the same postcode

In [43]:
rawcustomer['FN'].unique()

array([nan,  1.])

In [44]:
rawcustomer['Active'].unique()

array([nan,  1.])

In [45]:
rawcustomer['club_member_status'].unique()

array(['ACTIVE', nan, 'PRE-CREATE', 'LEFT CLUB'], dtype=object)

In [45]:
rawcustomer['fashion_news_frequency'].unique()

array(['NONE', 'Regularly', nan, 'Monthly', 'None'], dtype=object)

In [46]:
rawcustomer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

1,371,980 customer rows 

This is compared to 1,362,281 in the transactions table, suggesting that some of the customers in this table haven't made any purchases.

0.7% of customers missing in transaction data

Around 65% of FN and Active columns are Null values

0.5% nulls in club_member_status

1% nulls in fashion_news_frequency

1% nulls in age

No nulls in Postal_code or customer_id

In [47]:
rawcustomer.duplicated().sum()

0

There are no customer duplicates

### Dealing with null values

In [48]:
rawcustomer.isnull().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                        15861
postal_code                    0
dtype: int64

There are only no null values in postal_code and customer_id

In [49]:
customersample = rawcustomer.sample(frac=0.25)

In [50]:
customersample.shape

(342995, 7)

In [46]:
# dropping FN column as mentioned earlier, 65% of the values are NaN so the column won't
# be very useful to us
# saving to new variable cleancustomer
cleancustomer = rawcustomer.drop(['FN'], axis=1)

In [52]:
rawcustomer['age'].mean()

36.386964565794

In [47]:
# filling age null values with mean age
cleancustomer['age']= rawcustomer['age'].fillna(rawcustomer['age'].mean())

In [48]:
rawcustomer['club_member_status'].isnull().sum()

6062

In [49]:
rawcustomer['club_member_status'].value_counts()

ACTIVE        1272491
PRE-CREATE      92960
LEFT CLUB         467
Name: club_member_status, dtype: int64

In [50]:
# replacing NaN values in club_member_status with unknown 
cleancustomer['club_member_status'] = rawcustomer['club_member_status'].replace(np.NaN, 'UNKNOWN')

In [51]:
rawcustomer['Active'].value_counts()

1.0    464404
Name: Active, dtype: int64

In [52]:
# filling null values in Active with 0
cleancustomer['Active'] = rawcustomer['Active'].fillna(0)

In [53]:
rawcustomer['fashion_news_frequency'].value_counts()

NONE         877711
Regularly    477416
Monthly         842
None              2
Name: fashion_news_frequency, dtype: int64

In [54]:
# replacing null values and 'None' with 'UNKNOWN'
cleancustomer['fashion_news_frequency'] = rawcustomer['fashion_news_frequency'].replace('None', 'UNKNOWN')
cleancustomer['fashion_news_frequency'] = rawcustomer['fashion_news_frequency'].replace('NONE', 'UNKNOWN')
cleancustomer['fashion_news_frequency'] = rawcustomer['fashion_news_frequency'].replace(np.NaN, 'UNKNOWN')

### Converting data types

Converting age and active column to int

In [55]:
cleancustomer['age'] = cleancustomer['age'].astype(int)
cleancustomer['Active'] = cleancustomer['Active'].astype(int)

### 3. Articles Data

In [56]:
rawproduct = pd.read_csv('../src/data/articles.csv.zip')

In [57]:
rawproduct.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
article_id,108775015,108775044,108775051,110065001,110065002,110065011,111565001,111565003,111586001,111593001,111609001,112679048,112679052,114428026,114428030
product_code,108775,108775,108775,110065,110065,110065,111565,111565,111586,111593,111609,112679,112679,114428,114428
prod_name,Strap top,Strap top,Strap top (1),OP T-shirt (Idro),OP T-shirt (Idro),OP T-shirt (Idro),20 den 1p Stockings,20 den 1p Stockings,Shape Up 30 den 1p Tights,Support 40 den 1p Tights,200 den 1p Tights,SWEATSHIRT OC,SWEATSHIRT OC,Alice BANDEAU 2-p,Alice BANDEAU 2-p
product_type_no,253,253,253,306,306,306,304,302,273,304,304,252,252,306,306
product_type_name,Vest top,Vest top,Vest top,Bra,Bra,Bra,Underwear Tights,Socks,Leggings/Tights,Underwear Tights,Underwear Tights,Sweater,Sweater,Bra,Bra
product_group_name,Garment Upper body,Garment Upper body,Garment Upper body,Underwear,Underwear,Underwear,Socks & Tights,Socks & Tights,Garment Lower body,Socks & Tights,Socks & Tights,Garment Upper body,Garment Upper body,Underwear,Underwear
graphical_appearance_no,1010016,1010016,1010017,1010016,1010016,1010016,1010016,1010016,1010016,1010016,1010016,1010001,1010001,1010017,1010016
graphical_appearance_name,Solid,Solid,Stripe,Solid,Solid,Solid,Solid,Solid,Solid,Solid,Solid,All over pattern,All over pattern,Stripe,Solid
colour_group_code,9,10,11,9,10,12,9,13,9,9,9,7,71,10,6
colour_group_name,Black,White,Off White,Black,White,Light Beige,Black,Beige,Black,Black,Black,Grey,Light Blue,White,Light Grey
perceived_colour_value_id,4,3,1,4,3,1,4,2,4,4,4,1,1,3,1
perceived_colour_value_name,Dark,Light,Dusty Light,Dark,Light,Dusty Light,Dark,Medium Dusty,Dark,Dark,Dark,Dusty Light,Dusty Light,Light,Dusty Light
perceived_colour_master_id,5,9,9,5,9,11,5,11,5,5,5,12,2,9,12
perceived_colour_master_name,Black,White,White,Black,White,Beige,Black,Beige,Black,Black,Black,Grey,Blue,White,Grey
department_no,1676,1676,1676,1339,1339,1339,3608,3608,3608,3608,3608,6515,6515,1334,1334
department_name,Jersey Basic,Jersey Basic,Jersey Basic,Clean Lingerie,Clean Lingerie,Clean Lingerie,Tights basic,Tights basic,Tights basic,Tights basic,Tights basic,Baby basics,Baby basics,Casual Lingerie,Casual Lingerie
index_code,A,A,A,B,B,B,B,B,B,B,B,G,G,B,B
index_name,Ladieswear,Ladieswear,Ladieswear,Lingeries/Tights,Lingeries/Tights,Lingeries/Tights,Lingeries/Tights,Lingeries/Tights,Lingeries/Tights,Lingeries/Tights,Lingeries/Tights,Baby Sizes 50-98,Baby Sizes 50-98,Lingeries/Tights,Lingeries/Tights
index_group_no,1,1,1,1,1,1,1,1,1,1,1,4,4,1,1
index_group_name,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Ladieswear,Baby/Children,Baby/Children,Ladieswear,Ladieswear
section_no,16,16,16,61,61,61,62,62,62,62,62,44,44,61,61
section_name,Womens Everyday Basics,Womens Everyday Basics,Womens Everyday Basics,Womens Lingerie,Womens Lingerie,Womens Lingerie,"Womens Nightwear, Socks & Tigh","Womens Nightwear, Socks & Tigh","Womens Nightwear, Socks & Tigh","Womens Nightwear, Socks & Tigh","Womens Nightwear, Socks & Tigh",Baby Essentials & Complements,Baby Essentials & Complements,Womens Lingerie,Womens Lingerie
garment_group_no,1002,1002,1002,1017,1017,1017,1021,1021,1021,1021,1021,1002,1002,1017,1017
garment_group_name,Jersey Basic,Jersey Basic,Jersey Basic,"Under-, Nightwear","Under-, Nightwear","Under-, Nightwear",Socks and Tights,Socks and Tights,Socks and Tights,Socks and Tights,Socks and Tights,Jersey Basic,Jersey Basic,"Under-, Nightwear","Under-, Nightwear"
detail_desc,Jersey top with narrow shoulder straps.,Jersey top with narrow shoulder straps.,Jersey top with narrow shoulder straps.,"Microfibre T-shirt bra with underwired, moulde...","Microfibre T-shirt bra with underwired, moulde...","Microfibre T-shirt bra with underwired, moulde...","Semi shiny nylon stockings with a wide, reinfo...","Semi shiny nylon stockings with a wide, reinfo...",Tights with built-in support to lift the botto...,"Semi shiny tights that shape the tummy, thighs...",Opaque matt tights. 200 denier.,Sweatshirt in soft organic cotton with a pres...,Sweatshirt in soft organic cotton with a pres...,Two soft bandeau bras in soft jersey with side...,Two soft bandeau bras in soft jersey with side...

In [64]:
rawproduct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [65]:
rawproduct.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

105,542 entries x 
24 columns

416 null values in detail_desc

0.4% of products have missing descriptions. This is a low number therefore should be okay to drop as there are descriptions of the items in the other columns

Dropping rows with desc null vals

In [58]:
# dropping null values in description and saving to new variable cleanarticles
cleanarticles = rawproduct.dropna().reset_index(drop=True)

In [59]:
cleanarticles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [60]:
cleanarticles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105126 entries, 0 to 105125
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105126 non-null  int64
 1   product_code                  105126 non-null  int64
 2   prod_name                     105126 non-null  object
 3   product_type_no               105126 non-null  int64
 4   product_type_name             105126 non-null  object
 5   product_group_name            105126 non-null  object
 6   graphical_appearance_no       105126 non-null  int64
 7   graphical_appearance_name     105126 non-null  object
 8   colour_group_code             105126 non-null  int64
 9   colour_group_name             105126 non-null  object
 10  perceived_colour_value_id     105126 non-null  int64
 11  perceived_colour_value_name   105126 non-null  object
 12  perceived_colour_master_id    105126 non-null  int64
 13  perceived_colour_master_name  105126 non-null  object
 14  department_no                 105126 non-null  int64
 15  department_name               105126 non-null  object
 16  index_code                    105126 non-null  object
 17  index_name                    105126 non-null  object
 18  index_group_no                105126 non-null  int64
 19  index_group_name              105126 non-null  object
 20  section_no                    105126 non-null  int64
 21  section_name                  105126 non-null  object
 22  garment_group_no              105126 non-null  int64
 23  garment_group_name            105126 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

### Data Dictionary

- article_id - Unique identifier of every article
- product_code - Unique identifier of type of product
- prod_name -  Name of product e.g. bandeau bra 
- product_type_no - Product sub category number
- product_type_name - Product sub category name e.g. bra 
- product_group_name - Product category name e.g. underwear 
- graphical_appearance_no - group of graphics number
- graphical_appearance_name - group of graphics name e.g. stripey
- colour_group_code - colour code
- colour_group_name - colour name 
- perceived_colour_value_id - Perceived colour number
- perceived_colour_value_name - Dark/Light/Dusty light/Bright/Medium
- perceived_colour_master_id - Perceived master colour number
- perceived_colour_master_name - Perceived master colour name 
- department_no - Department number
- department_name - Department name e.g. Jersey Basic
- index_code - Index number
- index_name - Womenswear/Baby etc 
- index_group_no - Subcategory of Index number
- index_group_name - Subcategory of Index name 
- section_no - Section number
- section_name - Section name 
- garment_group_no - Garment group number
- garment_group_name - Garment group name 
- detail_desc - description of article

No duplicated rows

In [69]:
articlesample = rawproduct.sample(frac=0.3)

In [70]:
articlesample.shape

(31663, 25)

In [71]:
cleanarticles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [72]:
cleancustomer.head()

,customer_id,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,ACTIVE,NONE,49,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,ACTIVE,NONE,25,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,ACTIVE,NONE,24,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,ACTIVE,NONE,54,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,ACTIVE,Regularly,52,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [73]:
cleantransaction.head()

,t_dat,customer_id,article_id,price,sales_channel_id,article_purchase_count
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,1
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,1
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221001,0.020322,2,1
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2,1
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,0.016932,2,1

Saving clean datasets to csv file in data folder

In [74]:
cleanarticles.to_csv('../src/data/cleanarticles.csv')

In [79]:
cleancustomer.to_csv('../src/data/cleancustomers.csv')

In [80]:
cleantransaction.to_csv('../src/data/cleantransactions.csv')